.split {
      height: 70%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-y: hidden;
      padding-top: 20px;
    }
.split2 {
      height: 70%;
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      overflow-y:show;
      padding-top: 20px;
    }
.top {
        top: 0;
        background-color: darkorange;
    }    
.bottom{
        top: 70%;
        background-color: rgb(136,53,69);
    }
    
.left {
  left: 0;
  background-color: #ccc;
}

.right {
  right: 0;
  background-color: #FF88FF;
}

.upper {
  position: relative;
  top: -5%;

}
.toppic {
  position:absolute;
  top:0;
    text-align: center;
}
.toppic2 {
  position:absolute;
  top:-20%;
    text-align: center;
    
}
.white{color: white;}
.maroon{background-color:rgb(136,53,69);}
.orange{background-color: darkorange;}
.black{background-color: black;}
.downer {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.toppic22 {
  position:absolute;
  top:-50%;
    text-align: center;   
}
.centerpic{text-align: center;}