
body{
    background-color: blanchedalmond;
}
h1{
    font-size:5vw;
    margin-bottom:1.5vw;
    justify-self: center;
    text-align: center;
    color:rgb(146, 78, 5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
article{
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2.5vw;
    width: 66vw;
    background-color: rgb(242, 134, 97);
    display: flex;
    justify-content: left;
    align-self: center;
    flex-direction: row;
    border-radius: 5vw;
    transition-property: height;/*will be added later*/
    transition-duration: 1s;
}
#guesses{
    display: inline;/*just in case*/
}

#questionText{
    font-size: 3vw;
    font-weight: bolder;
    margin-top:1.8vw;
    padding-left:2.5vw;
    margin-bottom:1vw;
    font-family:'Courier New', Courier, monospace;
}
.guessRow{
    display: flex;
    justify-content: left;
    flex-direction: row;
    transition-property: opacity;
    transition-duration: 1s;
    position: relative;
    top: 0;
    margin-bottom: 0.7vw;
}

.guessRow span{
    font-family:'Courier New', Courier, monospace;
    height:1vw;
    width:4vw;
    margin-top:0;
    margin-bottom:1%;
    margin-left:0.75%;
    margin-right:0.75%;
    padding-top:0;
    padding-bottom:3.55vw;
    padding-left:.6vw;
    padding-right:.6vw;
    font-size:4.5vw;
    font-weight: bold;
    text-align: center;
    border-style: inset;
    border-width: .1vw;
    user-select:none;
}
.whiteBox{
    background-color: azure;
    border-color: azure;
}
.grayBox{
    background-color:gray;/*tomato;*/
    border-color: gray;
}
.yellowBox{
    background-color:yellow;/*khaki;*/
    border-color: yellow;
}
.greenBox{
    background-color: lightgreen;/*greenyellow;*/
    border-color: lightgreen;
}
.invalid{
    font-weight: bolder;
    background-color: rgb(255, 68, 0);
    border-color: rgb(255,168,0);
}
.success{
    font-weight: bolder;
    background-color: rgb(124, 183, 229);
    border-color: rgb(124, 183, 229);
}
input{/*button, active or not*/
    margin-top: 6.7vw;
    margin-left: 1vw;
    font-size: 2.5vw;
    height: 4vw;
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    text-align: center;
    text-decoration: none;
    border-radius: 3vw;
    border-style: none;
    color: azure;
    background-color: #eeae16;
    box-shadow: 0 0.1vw 0.2vw rgba(0, 0, 0, 0.15);
    transition: color 0.5s, background-color 0.5s;
    float:inline-end;
}
#resultsButton{/*submit*/
    border-style:none;
}
#againButton{/*success!*/
    /*background-color: rgb(43 72 92);
    background-color: rgb(113 41 14);*/
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
}


@keyframes drop-row{
    0% {
        top: -5.9vw;
    }
    100% {
        top: 0;
    }
}
@keyframes fade-in{
    0%{
        opacity: 0%;
    }
    40%{
        opacity: 0%;
    }
    90%{
        opacity: 100%;
    }
    100%{
        opacity: 100%;
    }
}

@media screen and (max-width: 1000px) {
    h1{
        font-size:6vw;/*text is closer to full width of screen*/
    }
    article{
        margin-left: 6vw;
        margin-right: 6vw;
        width: 78vw;
    }
    .guessRow span{
        font-size:5vw;
        width: 5vw;
        height: 2vw;
    }
    input{
        margin-top: 7vw;
        margin-left: 1.4vw;
        font-size: 3vw;
        padding-left: 1.32vw;
        padding-right: 1.32vw;
        padding-top: 0.6vw;
        padding-bottom: 0.6vw;
        height: 4.4vw;
    }

    @keyframes drop-row{
        0% {
            top: -7vw;
        }
        100% {
            top: 0;
        }
    }
}
@media screen and (max-width: 600px) {
    h1{
        font-size:8vw;/*text is closer to full width of screen*/
    }
    article{
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 3vw;
        padding-bottom: 4vw;
        width: 78vw;
    }
    #questionText{
        padding-left:2vw;
        font-size:3.8vw;
    }
    input{
        margin-top: 7.8vw;
    }
    
    @keyframes drop-row{
        0% {
            top: -7vw;
        }
        100% {
            top: 0;
        }
    }
}