:root {
  --white: #FFFFFF;
  --heifer-blue:rgb(43,64,83)
}
header{
  background-color: var(--white);
  color:#000000;
  padding-left:20px;
}
h1{
color:var(--heifer-blue);
}
body{
  margin-left:0px;
  background-color:var(--heifer-blue);
}
main{
  background-color: var(--heifer-blue);
  color:var(--white);
  padding-left:20px;
}
.button 
{
  background-color: rgb(57,116,133);
  color:var(--white);
  text-size:300%;
}
.center {
display:block;
/*margin-left:0px;*/
margin-left: auto;
margin-right: auto;
background-color: var(--white);
color:var(--heifer-blue);
text-size:3rem;
}

.scroll {
    overflow-y: scroll;
    height: 282px
}

.height {
    height: 282px
}
